  * {
    font-family: monospace;
  }

html, body
{
    background-color: whitesmoke;

    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

  .node-passed {
    display: inline-block;
    padding: 8px;
    margin:2px;
    border-radius: 8px;
  }

  .node-possible {
    display: inline-block;
    border-style: solid;
    padding: 8px;
    margin:2px;
    border-radius: 8px;
  }

  .node-possible .key {
    background-color: gray;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 3px;
    font-weight: bold;
  }

  .node-passed .key {
    color: white;
    background-color: black;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 3px;
    font-weight: bold;
  }

  #script { 
    position: absolute;
    width: 1000px;
    height: 100%;
    top: 0;

  }

  #passedElements {
    padding: 12px;
    background-color: #ccc;
    height: 6em;
    width: 80em;
    border-radius: 1em;
  }

#possibleElements {
    padding: 12px;
    height: 6em;
    width: 80em;
}

  #wrapper {
    width: 100%;
    height: 100%;

    display: flex;

    flex: 1;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: stretch; 
    align-content: stretch;
  }

  #header {
    background-color: #eee;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    padding: 1em;
  }

#footer {
  background-color: #eee;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  padding: 1em;
}

#footer span {
  padding: 1em;
}

  #header h1 {
    display: inline;
    margin: .25em;
  }

  #treeWrapper {
    width: 100%;
    height: 100%;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #scriptWrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
  }

#content {
    display: flex;
    flex: 1;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

  #qnav-input {
    font-size: 3em;
    width: 16em;
  }

#editScriptBtn {
  width: 8em;
  height: 3.5em;
}

#saveScriptBtn {
  width: 8em;
  height: 3.5em;
}

#ribbon {
  display: flex;
}

#ribbon span {
  display: block;
  width: 2em;
  height: .3em;
}

input, button {
  outline: none;
}
