  * {
    font-family: monospace;
  }

  body {    
    background-color: whitesmoke;
  }

  .node-passed {
    display: inline-block;
    padding: 8px;
    margin:2px;
    border-radius: 8px;
  }

  .node-possible {
    display: inline-block;
    border-style: solid;
    padding: 8px;
    margin:2px;
    border-radius: 8px;
  }

  .node-possible .key {
    background-color: gray;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 3px;
    font-weight: bold;
  }

  .node-passed .key {
    color: white;
    background-color: black;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 3px;
    font-weight: bold;
  }

  #script { 
    width: 1000px;
    height: 800px;
  }

  #tree {
    margin: 12px;
  }

  #wrapper {
    display: flex;
    flex-direction: column;
  }

  #header {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    padding: .5em;
  }

  #header h1 {
    display: inline;
    margin: .25em;
  }

  #treeWrapper {
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #scriptWrapper {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #qnav-input {
    font-size: 3em;
    width: 16em;
  }

#editScriptBtn {
  width: 8em;
  height: 3.5em;
}

#saveScriptBtn {
  width: 8em;
  height: 3.5em;
}

#ribbon {
  display: flex;
}

#ribbon span {
  display: block;
  width: 2em;
  height: .3em;
}

input, button {
  outline: none;
}