#promode {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: fixed;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px; 
	margin-left: -250px;

    padding: 25px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 100;

}

#promode input {
	font-family: Consolas;			
}

.qnav {
	padding: 2px;
    margin: 1px;
	border: solid #08c 1px;
    background-color: white;
	border-radius: 5px;
    display: inline-table;
}

.qnav.match {
	background-color: #08c !important;
	color: white !important;
}